
*{
   font-weight: 500 ;
   font-family: 'Noto Sans TC', sans-serif;
   
}
body{
   
    font-size: 1rem;
    line-height: 1.8;
    color: $color_blue ;
    overflow-x: hidden;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
    vertical-align: bottom;
}
