
// $primary:       $blue !default;
// $secondary:     $gray-600 !default;
// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
// $light:         $gray-100 !default;
// $dark:          $gray-900 !default;

$color_blue: #0A0A55;
$color_blue_dark: #0A0A55;
$gradient-primary: linear-gradient(50.95deg, #F5911E 7.1%, #DE5FFF 113.83%);

