<section class="about text-primary " id="about">
    <!-- 電腦版 -->
    <div class="d-none d-sm-flex ">
          <div class="d-flex flex-column  " style="width: 70%;">
              <img  src="../assets/images/about-bg-top.png" alt="">
              <div class="container about-title  " >
                <div class="mt-5 ">
                  <div class="part-title">
                    <h1 class=" position-relative" >關於我們   
                    <img  class="d-inline" src="../assets/images/about-scratch.png" alt=""></h1>
                    <span class="nyxerin-font fs-5 fw-normal ">ABOUT</span>
                  </div>
                
                  <p class="mt-5 ">奈特米科技自2023年成立，團隊各成員皆擁有多年程式設<br>
                    計經驗，重視使用者體驗，打造符合客戶需求的各式客製化<br>
                    資訊系統、活動網頁、AR/VＲ遊戲開發等。</p>
                  <p>在對待公司同仁上我們重視每一位員工，除了擁有良好工作 <br>
                     環境、也提供學習及成長的空間，歡迎優秀的朋友一起加入 <br>
                     奈特米科技股份有限公司的工作行列。</p>  
                  <button class="btn send-btn btn-light mt-3 py-3 px-5">
                    加入我們
                  </button>  
                </div>
              </div>
              <div class="container  d-flex align-items-end mt-3" style="width:70%">
                <img  class="opacity-0" src="../assets/images/about-cta.svg" alt="">
                <img  class="opacity-0" src="../assets/images/about-cta-hand.svg" alt="">
                <img  style="z-index: -1;" class="position-absolute about_cat" src="../assets/images/about/about-cat.svg" alt="">
              
              </div>
          </div>    
          <div class="  about-max-phone " >
              <img src="../assets/images/about-max-phone.png" alt="">
              
          </div>
          <img  class="about-blue-bottom "   src="../assets/images/about-blue-bottom.png" alt="">
          <img class="about-bg-bottom"    src="../assets/images/about-bg-bottom.png" alt="">
    </div>
    <!-- 手機板 -->
    <div class="d-flex d-sm-none flex-column">
        <img src="../assets/images/about-bg-top.png" alt="">
        <div class="part-title pt-3 px-3 ">
          <h1 class=" position-relative " >關於我們   
          <img class="d-inline"  src="../assets/images/about-scratch.png" alt=""></h1>
          <span class="nyxerin-font fs-5 fw-normal ">ABOUT</span>
          <p class="mt-5 ">奈特米科技自2023年成立，團隊各成員皆擁有多年程式設<br>
            計經驗，重視使用者體驗，打造符合客戶需求的各式客製化<br>
            資訊系統、活動網頁、AR/VＲ遊戲開發等。</p>
          <p>在對待公司同仁上我們重視每一位員工，除了擁有良好工作 <br>
             環境、也提供學習及成長的空間，歡迎優秀的朋友一起加入 <br>
             奈特米科技股份有限公司的工作行列。</p>  
          <button class="btn send-btn btn-light mt-3 py-3 px-5">
            加入我們
          </button>  
        </div>
       <div class="position-relative d-flex justify-content-end"> 
             <img    src="../assets/images/about/about-sm-bg.png" alt="">
             <img  class="position-absolute top-0 " style="right:-15%" src="../assets/images/about/about-phone.png" alt="">
             <img  class="position-absolute" style="left: 10%; top:45% ; width: 40%;" src="../assets/images/about-fragments.png" alt="">
      </div>
      <img  class=" mt-5 vertical-align d-block"  src="../assets/images/about-sm-cat.svg" alt="">
    
    </div>


    
</section>


