<div class="position-relative">
    <img class="w-100" src="../assets/images/work/work-page-bottom.jpg" alt="">
    <a href="/netmet/#work">
        <button  type="button" class="back-btn btn send-btn btn-light mt-3 py-3 w-100">
            回到列表
        </button>
    </a>
</div>