<footer class="footer py-5" style="background-color: #0B0B32;">
    <div class="container">
      <span class="text-light">Copyright©2024 奈特米科技有限公司.All Rights Reserved. Design by NETMET</span>
    </div>
</footer>