<div id="loading">
    <img src="../assets/images/logo.svg" alt="Loading...">
</div>
<nav class="navbar navbar-expand-sm navbar-gradient-bottom opan-navbar"  >
  <div class="container position-relative">
      <!-- Logo -->
      <a class="navbar-brand" href="/netmet/">
          <img class="logo" src="../assets/images/logo.svg" alt="Logo">
      </a>
      
      <!-- Mobile toggler -->
      <button class="navbar-toggler border-0" type="button" aria-label="Menu">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3 6H21M3 12H12M3 18H21" stroke="#0A0A55" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
      </button>

      <!-- Navigation items -->
      <div class="collapse navbar-collapse justify-content-end"  id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" href="/netmet/#about">關於我們</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/netmet/#server">服務項目</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/netmet/#work">專案實績</a>
              </li>
              <li class="nav-item d-none d-sm-block menuToggle">
                  <a class="nav-link "  id="menuToggle">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M3 6H21M3 12H12M3 18H21" stroke="#0A0A55" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                  </a>
              </li>
              
          </ul>
      </div>
  </div>
</nav>

<div class="air-contact" id="airContact">
    <img class="contact-ripple d-none d-sm-block" src="../assets/images/contact/contact-ripple.svg" alt="">
    <img class="contact-ripple-sm d-block d-sm-none" src="../assets/images/contact/contact-ripple-sm.svg" alt="">
    
    <div class="container mb-5">
        <!-- Desktop close button -->
        <button class="close-button d-none d-sm-block" aria-label="Close menu" type="button">
          <span class="nyxerin-font me-2">CLOSE</span>
          <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2.34375 22.6563L22.6563 2.34375M2.34375 2.34375L22.6562 22.6563" stroke="white" stroke-width="2.11" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
        <div class="row d-flex d-sm-none mb-10 position-relative" >
          <div class="col-12 d-flex justify-content-end">
              <button class="close-button" aria-label="Close menu">
                  <span class="nyxerin-font me-2">CLOSE</span>
                  <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M2.34375 22.6563L22.6563 2.34375M2.34375 2.34375L22.6562 22.6563" stroke="white" stroke-width="2.11" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
              </button>
          </div>
      </div>
      
        <div class="air-contact-container mt-0 mt-sm-20 py-3">
              <!-- Mobile close button -->
             <div class="container-fluid">
                  
             </div>
      
             <div class="container">
                  <div class="row">
                      <!-- Menu items -->
                      <div class="col-sm-5">
                          <div class="menu-item">
                              <h1 class="fw-bolder">關於我們 <img class="d-inline" src="../assets/images/cat-paw-light.svg" alt=""></h1>
                              <span class="nyxerin-font fs-5 fw-normal">ABOUT</span>
                          </div>
                          <div class="menu-item">
                              <h1 class="fw-bolder">專案實績</h1>
                              <span class="nyxerin-font fs-5">WORK</span>
                          </div>
                          <div class="menu-item">
                              <h1 class="fw-bolder">服務項目</h1>
                              <span class="nyxerin-font fs-5">SERVICES</span>
                          </div>
                          <div class="menu-item">
                              <h1 class="fw-bolder">回到主頁</h1>
                              <span class="nyxerin-font fs-5">BACK</span>
                          </div>
                      </div>
          
                      <!-- Contact form -->
                      <div class="col-sm-7">
                          <div class="menu-item menu-item-contact">
                              <h1 class="fw-bolder">聯絡我們</h1>
                              <span class="nyxerin-font fs-5">CONTACT</span>
                          </div>
                          <form class="navbar-form">
                              <div class="row">
                                  <div class="col-12 col-sm-6">
                                      <div class="form-control-wrapper">
                                          <input type="text" class="form-control" placeholder="您的名稱*" required>
                                      </div>
                                  </div>
                                  <div class="col-12 col-sm-6">
                                      <div class="form-control-wrapper">
                                          <input type="tel" class="form-control" placeholder="聯絡電話*" required>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-12 col-sm-6">
                                      <div class="form-control-wrapper">
                                          <input type="email" class="form-control" placeholder="電子郵件*" required>
                                      </div>
                                  </div>
                                  <div class="col-12 col-sm-6">
                                      <div class="form-control-wrapper">
                                          <input type="text" class="form-control" placeholder="公司名稱*" required>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-12">
                                      <div class="form-control-wrapper">
                                          <input type="text" class="form-control" placeholder="信件主旨*" required>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-12">
                                      <div class="form-control-wrapper">
                                          <textarea class="form-control" rows="4" placeholder="信件內文*" required></textarea>
                                      </div>
                                  </div>
                              </div>
                              <div class="text-center text-sm-end mb-5">
                                  <button type="submit" class="btn send-btn btn-light mt-3 py-3 w-100">
                                      送出
                                  </button>
                              </div>
                          </form>
                      </div>
                  </div>
             </div>
        </div>
    </div>
  </div>