<section class="server " id="server">
    <!-- 方塊 電腦顯示 -->
    <img class="position-absolute server-left-top d-none d-lg-block" src="../assets/images/server-left-top.svg" alt="">
    <img class="position-absolute d-block d-lg-none h-100 " style="right: 0;"  src="../assets/images/server-bg.svg" alt="">
    
    <div class="container ">
      <div class="part-title  pb-3 mb-5">
        <div class="d-flex mb-2 ">
            <h1 class="text-light position-relative  ">服務項目</h1>
            <div class="ms-2 align-self-center" ><img   src="../assets/images/cat-paw-light.svg" alt=""></div>
        </div>
        <span class="nyxerin-font fs-5 fw-normal text-light ms-1 ">SERVER</span>
      </div>
  
      <!-- 第一排 -->
      <div class="row my-4 ">
        <div class="col-lg-3 col-md-12  mb-4">
          <div class="card server-card">
            <div class="card-body server-card-body p-4 text-center d-flex justify-content-center flex-column">
              <div class="server-card-icon mb-3">
                <img src="../assets/images/s1.svg" alt="客製化形象網站" class="w-50">
              </div>
              <h5 class="server-card-title card-title">客製化形象網站</h5>
            </div>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-12 mb-4">
          <div class="card server-card">
            <div class="card-body server-card-body p-4 text-center d-flex justify-content-center flex-column">
              <div class="server-card-icon mb-3">
                <img src="../assets/images/s2.svg" alt="客製化資訊系統" class="w-50">
              </div>
              <h5 class="server-card-title card-title">客製化資訊系統</h5>
            </div>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-12 mb-4">
          <div class="card server-card">
            <div class="card-body server-card-body p-4 text-center d-flex justify-content-center flex-column">
              <div class="server-card-icon mb-3">
                <img src="../assets/images/s3.svg" alt="金流系統" class="w-50">
              </div>
              <h5 class="server-card-title card-title">金流系統</h5>
            </div>
          </div>
        </div>
  
        <div class="col-lg-3 d-md-none d-lg-block"></div>
      </div>
  
      <!-- 第二排 -->
      <div class="row ">
        <div class="col-lg-3 d-md-none d-lg-block"></div>
  
        <div class="col-lg-3 col-md-12 mb-4">
          <div class="card server-card">
            <div class="card-body server-card-body p-4 text-center d-flex justify-content-center flex-column">
              <div class="server-card-icon mb-3">
                <img src="../assets/images/s4.svg" alt="一頁式活動網頁" class="w-50">
              </div>
              <h5 class="server-card-title card-title">一頁式活動網頁</h5>
            </div>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-12 mb-4">
          <div class="card server-card">
            <div class="card-body server-card-body p-4 text-center d-flex justify-content-center flex-column">
              <div class="server-card-icon mb-3">
                <img src="../assets/images/s5.svg" alt="AR/VR遊戲開發" class="w-50">
              </div>
              <h5 class="server-card-title card-title">AR/VR遊戲開發</h5>
            </div>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-12 mb-4">
          <div class="card server-card">
            <div class="card-body server-card-body p-4 text-center d-flex justify-content-center flex-column">
              <div class="server-card-icon mb-3">
                <img src="../assets/images/s6.svg" alt="環景網頁建置" class="w-50">
              </div>
              <h5 class="server-card-title card-title">環景網頁建置</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>