<section class="work d-none d-lg-block "  >
    <div class="cat-box work-cat-box d-flex align-items-end">
        <img  src="../assets/images/work-block.svg" alt="">
        <img  src="../assets/images/work-cat-hand.svg" alt="">
        <img src="../assets/images/work-cat.svg" alt="">
    </div>
  
      <div class=" my-5">
        <div class="part-title px-5 pb-3" >
            <div class="d-flex">
                <h1 class="position-relative" >專案時機  </h1>
               <div class="ms-2 align-self-end"> <img  src="../assets/images/about-scratch.png" alt=""></div>
            </div>
            <img class="subtitle" src="../assets/images/work.png" alt="">
        </div>
        <div class="swiper-container">
            <!-- 自定義導航按鈕 -->
            <div class="custom-navigation">
                <button class="custom-nav-button custom-prev"><i class="bi bi-chevron-left"></i></button>
                <button class="custom-nav-button custom-next"><i class="bi bi-chevron-right"></i></button>
            </div>
            <div class="swiper">
                <div class="swiper-wrapper">
                    <!-- Card 1 -->
                    <div class="swiper-slide">
                        <div class="portfolio-card">
                            <img src="../assets/images/work/w1.png" alt="格萊美公司人資管理系統" class="portfolio-image">
                            
                        </div>
                        <div class="portfolio-title py-3">格萊美公司｜人資管理系統</div>
                    </div>
                    
                    <!-- Card 2 -->
                    <div class="swiper-slide">
                        <div class="portfolio-card">
                            <img src="../assets/images/work/w2.png" alt="彰化稅務局AR互動" class="portfolio-image">
                            
                        </div>
                        <div class="portfolio-title py-3">彰化稅務局｜AR互動開發片</div>
                    </div>
                    
                    <!-- Card 3 -->
                    <div class="swiper-slide">
                        <div class="portfolio-card">
                            <img src="../assets/images/work/w3.png" alt="新北稅捐處" class="portfolio-image">
                            
                        </div>
                        <div class="portfolio-title py-3">新北稅捐處-影片製作</div>
                    </div>
                </div>
            </div>
        </div>
      </div>
</section>
<section class="work-mini d-flex flex-column d-lg-none justify-content-center">
    <img class="plaid"  src="../assets/images/plaid.svg" alt="">
    <img src="../assets/images/work/sm-top.svg" alt="">
    <div class="part-title px-4  mb-5" >
        <div class="d-flex">
            <h1 class="position-relative" >專案時機  </h1>
           <div class="ms-2 align-self-end"> <img  src="../assets/images/about-scratch.png" alt=""></div>
        </div>
        <img class="subtitle" src="../assets/images/work.png" alt="">
    </div>
   <div class="px-4">
        <div class="work_item_wrap">
            <div class="work_img_wrap ">
                <img src="../assets/images/work/w1.png" alt="格萊斯美公司人資管理系統" class="work_img">
            </div>
            <div class="portfolio-title py-3">格萊美公司｜人資管理系統</div>
        </div>
    
        <div class="work_item_wrap">
            <div class="work_img_wrap ">
                <img src="../assets/images/work/w2.png" alt="彰化稅務局｜AR互動開發片" class="work_img">
            </div>
            <div class="portfolio-title py-3">彰化稅務局｜AR互動開發片</div>
        </div>
        <div class="work_item_wrap">
            <div class="work_img_wrap ">
                <img src="../assets/images/work/w3.png" alt="新北稅捐處-影片製作" class="work_img">
            </div>
            <div class="portfolio-title py-3">新北稅捐處-影片製作</div>
        </div>
   </div>
   


    <div class="d-flex justify-content-center"> <button class="btn send-btn btn-light mt-3 py-3 px-5">查看更多</button></div>
    <img  class="work-sm-cat"  src="../assets/images/work/work-sm-cat.svg" alt="">
</section>