
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap);

@import '../../node_modules/bootstrap-icons/font/bootstrap-icons.min.css';
@import '../../node_modules/bootstrap/scss/functions';
@import 'helpers/color';
@import 'helpers/variables';
@import 'helpers/variables-dark';
@import 'helpers/base';

@import '../../node_modules/bootstrap/scss/bootstrap';


@import 'components/header';
@import 'components/button';


$border-radius : 15px;
.logo{
    width: 150px;
}

.navbar-gradient-bottom {
    position: relative;
}
.navbar-gradient-bottom::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: $gradient-primary;
}
.navbar-nav .nav-item {
    margin-right: 1.5rem;
  }
  .navbar-nav .nav-item:last-child {
    margin-right: 0;
  }
  .navbar-nav .nav-link {
    padding: 0.5rem 0;
    display: flex;
    align-items: center;  /* 垂直居中對齊 */
  }
  .navbar-nav .nav-link svg {
    width: 24px;
    height: 24px; /* 將高度調整為與寬度相同 */
  }
  /* 為文字添加樣式，確保一致性 */
  .navbar-nav .nav-link span {
    vertical-align: middle;
    line-height: 1;  /* 防止文字行高影響對齊 */
  }




