@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap);

@import '../../node_modules/bootstrap-icons/font/bootstrap-icons.min.css';
@import '../../node_modules/bootstrap/scss/functions';
@import 'helpers/color';
@import 'helpers/variables';
@import 'helpers/variables-dark';
@import 'helpers/base';
@import 'helpers/mixin';
@import 'helpers/helpers';
@import '../../node_modules/bootstrap/scss/bootstrap';


@import 'components/header';
@import 'components/about';
@import 'components/server';
@import 'components/work';

@import 'components/contact';
@import 'components/button';
@import 'components/part-title';
@import 'components/cat-box';

@import 'components/navbar';


#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff; /* 或其他你想要的背景色 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999999999;
}

#loading img {
    max-width: 400px; /* 根據你的圖片大小調整 */
    height: auto;
}