.send-btn{
    /* NM-2 */
    background: linear-gradient(50.95deg, #F5911E 7.1%, #DE5FFF 113.83%);
    backdrop-filter: blur(25px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 5px;
    max-width: 180px;
    color:#fff ;
    z-index: 3;
    position: relative;
}




