.header {
    position: relative;
    min-height: 900px;
    height: auto;
    
    @include large-medium {
        min-height: 600px;
     }
     @include small {
        min-height: 1236px;
        display: flex;
        flex-direction: column;
     }

}

//電腦板調整
.computer{
    position: absolute;
    bottom:25%;
    left: 50%;
    width: 50%;
    max-width: 800px;
  
     
}   
.mouse{
    position: absolute;
    bottom: 15%;
    left: 50%;
   
 
 
}




//手機板調整
.sm-header-bg img{
    width: 80%;
    
 }
 .sm-computer{
    position: absolute;
    bottom:0%;
    right:0%;
    width: 100%;
}


.header-sm-left{
    position: absolute;
    bottom:9%;
    width: 70%;
    left: 0;
}
.header-sm-right-bottom{
    position: absolute;
}
.header-sm-right-middle{
    position: absolute;
}