.work{
    position: relative;
    padding: 250px 0;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url(../images/work-bg.png) ;
  
}
.work-cat-box{
    bottom:5%;
    left: 50%;
    
 
}

  



.portfolio-card {
    background: #fff;
    border-radius: 10px;
   
    height: 280px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    cursor: pointer;
    opacity: 0.5;
}

.swiper-slide-active .portfolio-card {
    opacity: 1;
    transform: scale(1.05);
}

.portfolio-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.swiper-container {
    position: relative;
    width: 100%;
    margin-top: 40px;
}

.swiper {
    overflow: visible;
    position: relative;
}

/* 自定義導航按鈕容器 */
.custom-navigation {
    position: absolute;
    right: 10%;
    top: -100px;
    display: flex;
    gap: 18px;
    z-index: 10;
}

/* 自定義導航按鈕樣式 */
.custom-nav-button {
    width: 50px;
    height: 50px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border: none;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
    padding: 0;
    transition: background-color 0.3s;
}


.custom-nav-button:hover {
    background: #333;
}

.portfolio-title {
    margin-top: 15px;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #0A0A55;
    border-radius: 15px;
}

/* Rectangle 77 */








.swiper-wrapper {
    align-items: center;
}

/* 標題區域的樣式 */
.title-container {
    margin-bottom: 0;
    position: relative;
}

.title-container h2 {
    margin: 0;
    font-weight: bold;
}

/* work 圖標樣式 */
.work-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}



.work-mini{
    position: relative;
    .plaid{
        position: absolute;
        top:10%;
        right:0;
        z-index: -1;
  
    }
    .work_item_wrap {

        margin: 2rem auto;
      
      
    }
    .work-sm-cat{
        margin-top: 1rem;
    }
        

    .work_item:hover {
        transform: translateY(-5px);
    }

    /* 圖片容器 */


    .work_img_wrap {
        height: 300px;
      
    }

    .work_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px ;
       
    }


   


}