<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="../assets/images/favicon.png" type="image/png">
    <title>奈特米科技 </title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.5/swiper-bundle.min.css">
   

  </head>
  <body>
   
        <div id="cross"></div>
        <%- include('./layout/navbar') %>
        <%- include('./layout/header') %>
        <%- include('./layout/about') %>
        <%- include('./layout/server') %>
        <%- include('./layout/works') %>
        <%- include('./layout/contact') %>
    
        <%- include('./layout/footer') %>
   
        <script src="https://cdn.jsdelivr.net/gh/dixonandmoe/rellax@master/rellax.min.js"></script>
        <script src="../assets/js/loading.js"></script>
    <script type="module" src="../main.js"></script>
     
  </body>
</html>



